extends layout

block content
    .container.container.bg-white.mt-4.shadow
        div.row.d-flex.justify-content-center.align-items-center.h-100
            div.top-stripe.main-color
            .title.col-12.mt-4
                p.h1.text-center.mt-4.font-weight-bold Welcome
        div.row.d-flex.justify-content-center.align-items-center.my-4.mx-1.mx-md-4
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate illum impedit quisquam ipsum odio nihil porro, facere et temporibus. Corporis vero natus culpa! Unde sapiente architecto ducimus dignissimos, aut deleniti.
        br