extends layout

block content
   
    section#wrapper.p-0.container-fluid.bg-custom2.pb-5
        .carousel.slide(data-ride='carousel')
            .carousel-inner
                .carousel-item.active
                    div
                        img(src='https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/pexels-pixabay-414974.jpg').carousel-image
                .carousel-item
                    div
                        img(src='https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/pexels-pixabay-267885.jpg').carousel-image
                .carousel-item
                    div
                        img(src='https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/pexels-tima-miroshnichenko-7567522.jpg').carousel-image
                .carousel-item
                    div
                        img(src='https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/pexels-teona-swift-6913726-scaled.jpg').carousel-image
                .carousel-item
                    div
                    img(src='https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/pexels-mentatdgt-1319855.jpg').carousel-image 
        .background-carousel   
        .text-overlay.d-flex.col.flex-column
            .col-12.flex-column
                .col-12.pt-5.mt-5.mb-3
                    h2.section-title.left.font-size-sm Найди свою специальность.
                .col-12.w-100
                    p.section-subtitle Определи то, в чём ты силен: физика и математика, графдизайн, маркетинг, биология или юриспруденция
                .col-12.mt-2
                    a(href='/profile')#testBtn.btn Пройти тест
            .col-12.d-flex.my-5.justify-content-between.card-extension-wrapper.flex-md-row
                .card-extension-advantages.col-md-4.col-12.d-flex.my-2
                    .col.flex-column.d-flex.justify-content-center.p-3
                        i.fa.fa-calculator.fa-5x
                        h3.mt-4 Умная подборка вопросов
                            hr
                        p.cards-text Тест заточен так, чтобы найти в тебе сильные стороны и указать на то, что у тебя получается лучше всего.
                .card-extension-advantages.col-md-4.col-12.d-flex.my-2
                    .col.flex-column.d-flex.justify-content-center.p-3
                        i.fas.fa-brain.fa-5x
                        h3.mt-4 Больше, чем просто тест
                            hr
                        p.cards-text Как только ты пройдешь тест, ты получишь список полезного  контента о твоей специальности
                .card-extension-advantages.col-md-4.col-12.d-flex.my-2
                    .col.flex-column.d-flex.justify-content-center.p-3
                        i.fas.fa-chart-line.fa-5x
                        h3.mt-4.text-break Точная характеристика
                            hr
                        p.cards-text Получи диаграмму, которая описывает твои способности по каждому из предметов
                         
    section#forWhomSection.d-flex.col.justify-content-space-evenly.w-100.bg-orange.m-0.flex-wrap
        div.d-flex.col-12.justify-content-center.text-center.mt-5
            h2.whom-title Для кого эта олимпиада?
        .whoSection-container.row.d-flex
            .card-extension-types.d-flex.col-lg-3.col-8.card-background-overlay.m-4
                .row-12.mt-4.d-flex.justify-content-center.pb-3
                    h2.cards-title Интровертов
                .row-12.d-flex.justify-content-center
                    .whomIcon.p-3.col-12
                        i.fas.fa-chess
                .row-12.d-flex.justify-content-center.p-5
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque repellat nesciunt nobis et vitae, at quidem unde earum corporis quis.
            
            .card-extension-types.d-flex.col-lg-4.col-9.card-main.m-4
                .row-12.mt-4.d-flex.justify-content-center.pb-3
                    h2.cards-title Активистов
                .row-12.d-flex.justify-content-center
                    div.whomIcon.p-3.col-12
                        i.far.fa-star
                .row-12.d-flex.justify-content-center.p-5
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque repellat nesciunt nobis et vitae, at quidem unde earum corporis quis.
            
            .card-extension-types.d-flex.col-lg-3.col-8.card-background-overlay.m-4
                .row-12.mt-4.d-flex.justify-content-center.pb-3
                    h2.cards-title Бунтарей
                .row-12.d-flex.justify-content-center
                    div.whomIcon.p-3.col-12
                        i.fas.fa-glasses
                .row-12.d-flex.justify-content-center.p-5
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque repellat nesciunt nobis et vitae, at quidem unde earum corporis quis.
    section#all-in-one.my-4
        h1.text-center#all-in-one_title.p-5 Мы собрали для тебя самое важное в одном тесте
        .col.d-flex.justify-content-center.text-center.mt-4.p-2.flex-wrap
            .col-xl-2.col-lg-3.col-md-5.col-10.all-in-one-card
                .all-in-one-card_icon.mt-4.p-2
                    i.fa.fa-calculator.fa-3x
                .all-in-one-card_title.m-2
                    | Математика и физика
                p.all-in-one-card_text.p-2 Вопросы из этого блока собирают в себе программу с 5-11 класс, усложняющиеся к концу. Под конец вопросы будут включать начало анализа и высшей математики. Если ты покажешь хорошие результаты, то алгоритм покажет тебе набор технических специальностей, связанных с естественными науками.
            .col-xl-2.col-lg-3.col-md-5.col-10.all-in-one-card
                .all-in-one-card_icon.mt-4.p-2
                    i.fa.fa-calculator.fa-3x
                .all-in-one-card_title.m-2
                    | Биология
                p.all-in-one-card_text.p-2 Вопросы из этого блока собирают в себе программу с 5-11 класс, усложняющиеся к концу. Если ты покажешь хорошие результаты, то алгоритм покажет тебе набор специальностей, которые соединяют в себе передовые специальности в области фармакологии, нейробиологии или медицины
            .col-xl-2.col-lg-3.col-md-5.col-10.all-in-one-card
                .all-in-one-card_icon.mt-4.p-2
                    i.fa.fa-calculator.fa-3x
                .all-in-one-card_title.m-2
                    | Маркетинг
                p.all-in-one-card_text.p-2 Вопросы из этого блока собирают в себе основные принципы Digital-инструментов для увеличения продаж, а также знания базовых понятий о ведении бизнеса. Показав хорошие результаты в этом блоке, ты можешь рассчитывать на свою деловую жилку, поступая на бизнес-специальности.
            .col-xl-2.col-lg-3.col-md-5.col-10.all-in-one-card
                .all-in-one-card_icon.mt-4.p-2
                    i.fa.fa-calculator.fa-3x
                .all-in-one-card_title.m-2
                    | Графический дизайн
                p.all-in-one-card_text.p-2 Вопросы из этого блока собирают в себе базовые принципы креативного мышления и оценивают то, насколько ты представляешь себе конечную картинку того, что находится у тебя в голове. Набрав хороший балл, ты можешь рассчитывать на твой внутренний талант в творчестве.
            .col-xl-2.col-lg-3.col-md-5.col-10.all-in-one-card
                .all-in-one-card_icon.mt-4.p-2
                    i.fa.fa-calculator.fa-3x
                .all-in-one-card_title.m-2
                    | ЧОП
                p.all-in-one-card_text.p-2 Вопросы из этого блока собирают в себе школьную программу по предмету «Человек. Общество. Право.» Набрав хороший балл, ты показываешь свое мышление в области права и юриспруденции, а также интерес к социальным наукам, политике и социологии.
    section#features-section
        div.shape-top.p-0
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none").corner
                path(d="M500,98.9L0,6.1V0h1000v6.1L500,98.9z" style="fill: #3D4E84")
        .features-section_content.row.m-0
            .col-12.col-lg-6.features-section_icon.text-center.d-flex.flex-column.justify-content-center.p-0
                .features-section_icon_overlay
                div(style="margin: 15% 0% 5% 0%;")
                    i.fas.fa-user-graduate.fa-7x.features-section_icon_icon
            .col-12.col-lg-6.bg-white.d-flex.flex-column.justify-content-center.features-section_info
                .col.my-2
                    h1.features-section_info-title.text-left Что ты получишь?
                .col.features-section_info-features
                    .features-section_info-feature.d-flex.flex-row.features-section_info-feature-line.py-3
                        i.fas.fa-check.fa-3x.mr-4
                        p Полное описание того, в какой специальности ты преуспеешь
                    .features-section_info-feature.d-flex.flex-row.features-section_info-feature-line.py-3
                        i.fas.fa-check.fa-3x.mr-4
                        p 5 полезных каналов для развития в твоей специальности
                    .features-section_info-feature.d-flex.flex-row.py-3
                        i.fas.fa-check.fa-3x.mr-4
                        p 5 лучших университетов для постулпения по твоей специальности
                .col
                    a(href="/signup")#testBtn.btn Регистрация
    section#what-to-do
        div.what-to-do_content-wrapper.h-100
            .row.what-to-do_content.justify-content-center.m-0
                .col-12.col-lg-4.text-center.d-flex.flex-column.justify-content-center.bg-primary
                    div.d-flex.flex-column.my-3
                        h2.what-to-do_heading.mb-3 Суть олимпиады в том, что...
                        p Тебе надо будет пройти 5 предметов: маркетинг, ЧОП, физика и математика, графический дизайн и биология.
                    div.d-flex.flex-column.my-3
                        h2.what-to-do_heading.mb-3 Не бойся!
                        p Алгоритм олимпиады построен так, что ты можешь пропускать вопросы.
                    div.d-flex.flex-column.my-3
                        h2.what-to-do_heading.mb-3 А зачем пропускать их?
                        p Алгоритм создан для того, чтобы отслеживать, какие вопросы ты пропустил, а на какие вопросы ты ответил правильно. Неправильные вопросы он считает как «хорошая попытка».
                .col-12.col-lg-3.what-to-do-title.d-flex.flex-column.justify-content-center.p-0
                    h2.what-to-do_title.main-color-inversed.text-center Что надо сделать?
                    img(src="https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/91374-1024x708.png")
                    a(href="/questions").btn.testBtn.m-4 Пройти тест
                .col-12.col-lg-4.features-section_icon.text-center.d-flex.flex-column.justify-content-center.text-primary.bg-white
                    div.d-flex.flex-column.my-3
                        h2.what-to-do_heading.mb-3 Зачем проходить олимпиаду?
                        p С помощью такого механизма мы тебе покажем, какие предметы тебе даются легко, а какие — нет. Так, ты сможешь принять решение о поступлении. Ведь если у тебя уже сейчас получается хорошо, то твоя дальнейшая учеба придется в удовольствие.
                    div.d-flex.flex-column.my-3
                        h2.what-to-do_heading.mb-3 Бонусом...
                        p Мы тебе дадим большой список годного контента для того, чтобы ты смог разиваться в этой сфере дальше. Ты также получишь бесплатную консультацию с нашими
                            a(href="#sponsors")  университетами-партнерами.
        #what-to-do-gradient.d-none.d-lg-block
    section#features-section2
        div.row.d-flex.features-section_content.m-0   
            .col-12.col-lg-6.features-section_icon.text-center.d-flex.flex-column.justify-content-center.p-0
                .features-section_icon_overlay2
                div(style="margin: 15% 0% 5% 0%;")
                    i.far.fa-list-alt.fa-7x.features-section_icon_icon
            .col-12.col-lg-6.bg-custom1.d-flex.flex-column.justify-content-center.features2-section_info
                .col.my-2.p-0
                    h1.features-section_info-title.text-left Какие у нас преимущества? 
                .col.features-section_info-features
                    .features-section_info-feature.d-flex.flex-row.features-section_info-feature-line.py-3
                        i.fas.fa-check.fa-3x.mr-4
                        p Твой результат сохранится
                    .features-section_info-feature.d-flex.flex-row.features-section_info-feature-line.py-3
                        i.fas.fa-check.fa-3x.mr-4
                        p Постоянно обновляющийся список университетов и каналов для развития
                    .features-section_info-feature.d-flex.flex-row.py-3
                        i.fas.fa-check.fa-3x.mr-4
                        p Можешь учиться, пока проходишь тест из 1480 вопросов
                .col
                    a(href="/")#testBtn.btn Вернуться к просмотру предметов
            div.shape-bottom
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none").corner2
                    path(d="M0,6V0h1000v100L0,6z" style="fill: #FFFFF")
    section#authors-section.bg-white
        .col.d-flex.h-100.flex-column.justify-content-center.text-center.p-5
            .authors-section_title
                | Авторы вопросов
            .authors-section_text 
                p Мы — молодая команда выпускников, которые объединились с опытными работниками в сфере образования для того, чтобы помочь школьникам не совершить ошибку и сориентироваться в своем будущем образовании. Мы верим, что именно безошибочная профориентация обеспечивает мотивацию студентов и качественное образование.
        div.shape-bottom.col-12.p-0
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none").corner3
                path(d="M0,6V0h1000v100L0,6z" style="fill: #FFFFF")
    section#about-us.bg-secondary
        .col.d-flex.h-100.justify-content-center.text-center0.flex-wrap.pb-5
            .col-lg-4.col-12
                .about-us-card
                    .about-us-card_title
                        h3.font-weight-bold Ермекбаев Улугбек
                    .about-us-card_description
                        p преподаватель по ЧОП и по основам права
                    .about-us-card_img-wrapper
                        img(src="https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/0B3A3465-1-682x1024.jpg").about-us-card_img
                    .about-us-card_additional 
                        ul.list-group.list-group-flush 
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.far.fa-address-book.fa-2x
                                span.text-left.ml-4 6 лет индивидуального преподавания и подготовки по социальным наукам
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.fas.fa-university.fa-2x
                                span.text-left.ml-4 Магистр политологии и конфликтологии в КазНУ им. Аль-Фараби
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.far.fa-star.fa-2x
                                span.text-left.ml-4 Спикер конференции по правам человека ООН 2019 года
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.fas.fa-check.fa-2x
                                span.text-left.ml-4 Опыт работы в Кливлендском университете права и политики
                    .about-us-card_btn 
                        a(href="https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/Оранжевый-и-Черный-Профессиональный-Резюме.pdf").btn.about-us-card_btn_btn Посмотреть резюме
            .col-lg-4.col-12
                .about-us-card
                    .about-us-card_title
                        h3.font-weight-bold Олжас Сулейменов
                    .about-us-card_description
                        p преподаватель по аналитике данных в маркетинге
                    .about-us-card_img-wrapper
                        img(src="https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/IMG_8094-769x1024.jpg").about-us-card_img
                    .about-us-card_additional 
                        ul.list-group.list-group-flush 
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.far.fa-address-book.fa-2x
                                span.text-left.ml-4 Опыт работы в Бизнес Академии Ernst & Young и колледжа Alma (бывш. МАБ)
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.fas.fa-university.fa-2x
                                span.text-left.ml-4 Бакалавр государственного управления в КИМЭП
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.far.fa-star.fa-2x
                                span.text-left.ml-4 Организатор дебатных клубов в КИМЭП и колледже Alma 
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.fas.fa-check.fa-2x
                                span.text-left.ml-4 Опыт работы в МИД РК и Фонде Евразия Центральная Азия
                    .about-us-card_btn 
                        a(href="https://olzhassuleimenov.site/wp-content/uploads/2021/10/Olzhas_Suleimenov_CV_RU.pdf").btn.about-us-card_btn_btn Посмотреть резюме
            .col-lg-4.col-12
                .about-us-card
                    .about-us-card_title
                        h3.font-weight-bold Placeholder
                    .about-us-card_description
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    .about-us-card_img-wrapper
                        img(src="https://clinicforspecialchildren.org/wp-content/uploads/2016/08/avatar-placeholder.gif").about-us-card_img
                    .about-us-card_additional 
                        ul.list-group.list-group-flush 
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.far.fa-address-book.fa-2x
                                span.text-left.ml-4 Опыт работы в Бизнес Академии Ernst & Young и колледжа Alma (бывш. МАБ)
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.fas.fa-university.fa-2x
                                span.text-left.ml-4 Бакалавр государственного управления в КИМЭП
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.far.fa-star.fa-2x
                                span.text-left.ml-4 Организатор дебатных клубов в КИМЭП и колледже Alma 
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.fas.fa-check.fa-2x
                                span.text-left.ml-4 Опыт работы в МИД РК и Фонде Евразия Центральная Азия
                    .about-us-card_btn 
                        a(href="https://olzhassuleimenov.site/wp-content/uploads/2021/10/Olzhas_Suleimenov_CV_RU.pdf").btn.about-us-card_btn_btn Посмотреть резюме
            .col-lg-4.col-12.d-flex.justify-content-center.mt-4
                .about-us-card
                    .about-us-card_title
                        h3.font-weight-bold Placeholder
                    .about-us-card_description
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    .about-us-card_img-wrapper
                        img(src="https://clinicforspecialchildren.org/wp-content/uploads/2016/08/avatar-placeholder.gif").about-us-card_img
                    .about-us-card_additional 
                        ul.list-group.list-group-flush 
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.far.fa-address-book.fa-2x
                                span.text-left.ml-4 Опыт работы в Бизнес Академии Ernst & Young и колледжа Alma (бывш. МАБ)
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.fas.fa-university.fa-2x
                                span.text-left.ml-4 Бакалавр государственного управления в КИМЭП
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.far.fa-star.fa-2x
                                span.text-left.ml-4 Организатор дебатных клубов в КИМЭП и колледже Alma 
                            li.list-group-item.list-group-item-custom.d-flex
                                span
                                    i.fas.fa-check.fa-2x
                                span.text-left.ml-4 Опыт работы в МИД РК и Фонде Евразия Центральная Азия
                    .about-us-card_btn 
                        a(href="https://olzhassuleimenov.site/wp-content/uploads/2021/10/Olzhas_Suleimenov_CV_RU.pdf").btn.about-us-card_btn_btn Посмотреть резюме
    section#sponsors.bg-custom
        div.shape-top_rotated
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none").corner4
                path(d="M0,6V0h1000v100L0,6z" style="fill: #FFFFF") 
        .sponsors_title
            h1.text-center.sponsors_title-text Мы сотрудничаем с:
        .sponsors_content.container.justify-content-center.d-flex.text-center
            .sponsor.col-4
                img.d-block.w-100(src='https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/88-b3a2c183b221a6f861fe6a0e1129c586-1024x342.jpeg' alt='First slide')
            .sponsor.col-4
                img.d-block.w-100(src='https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/logo-kimep-1-567x1024.png' alt='Second slide')
            .sponsor.col-4
                img.d-block.w-100(src='https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/14176838149949-1024x1024.png' alt='Third slide')

