extends layout

block content
    section.container-fluid.background-overlay.p-0
        .carousel.slide(data-ride='carousel')
            .carousel-inner
                .carousel-item.active
                    div.d-flex
                        img(src='https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/pexels-pixabay-414974.jpg')
                .carousel-item
                    div.d-flex
                        img(src='https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/pexels-pixabay-267885.jpg')
                .carousel-item
                    div.d-flex
                        img(src='https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/pexels-tima-miroshnichenko-7567522.jpg')
                .carousel-item
                    div.d-flex
                        img(src='https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/pexels-teona-swift-6913726-scaled.jpg')
                .carousel-item
                    div.d-flex
                        img(src='https://digital.olzhassuleimenov.site/wp-content/uploads/2021/10/pexels-mentatdgt-1319855.jpg')    
        .background-overlay1
        div.text-overlay.col  
            div.row-4
                p.h1.text-center.mt-4.font-weight-bold.left Найди свою специальность.
            div.row-4
                p Определи то, в чём ты силен: физика и математика, графдизайн, маркетинг, биология или юриспруденция
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quos distinctio ex eveniet consequuntur sit dolores eligendi laborum numquam perferendis quod tenetur voluptatibus repellendus sunt explicabo exercitationem nesciunt nihil praesentium, error sed. Iure beatae, nobis quis accusantium itaque eius nesciunt tempora doloribus delectus assumenda quos possimus! Rerum repudiandae animi, consequatur perferendis repellendus veniam ipsam corporis totam, ducimus optio minus quia dolore cupiditate esse. Rerum neque consectetur iusto tenetur dolorum quaerat, ducimus mollitia dolores quam sit sapiente, veniam architecto illum, eum magni aliquid praesentium nostrum distinctio rem? Aut, quidem eos praesentium ducimus dolore doloribus mollitia animi deleniti optio ut suscipit doloremque. Possimus voluptates ut cum repellendus nisi qui blanditiis quas! Eos dolorem architecto sunt tempora, enim quas! Ducimus soluta quaerat repellat cum molestias quisquam similique quidem cumque laboriosam vitae esse natus unde explicabo aliquam praesentium tenetur, necessitatibus obcaecati quia ab earum. Accusantium, repellendus ipsum at sunt veritatis necessitatibus qui voluptatem harum aliquid commodi exercitationem dolor est eum earum sapiente? Eos at rerum explicabo odio debitis, doloremque quasi quos amet delectus molestiae libero, quo aperiam sequi obcaecati eaque dignissimos dolorem deserunt? Quaerat perspiciatis neque vel a sequi dolorem in ullam quidem recusandae fuga magni, ut dolore, ipsum deserunt laborum expedita corrupti nulla.
            div.row-4
                btn Пройти тест