extends layout

block content
    .container.bg-white.mt-4.shadow.text-primary
        div.row.d-flex.justify-content-center.align-items-center.h-100
            div.top-stripe.main-color
            .title.col-12.mt-4
                p.h1.text-center.mt-4.font-weight-bold Welcome
        div.row.d-flex.justify-content-center.align-items-center.my-4.mx-1.mx-md-4
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate illum impedit quisquam ipsum odio nihil porro, facere et temporibus. Corporis vero natus culpa! Unde sapiente architecto ducimus dignissimos, aut deleniti.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus iste explicabo, ipsum facere eius ut aspernatur. Aliquam incidunt hic atque perspiciatis tempore quae quisquam cupiditate rerum distinctio dolores optio suscipit obcaecati voluptatum veniam consectetur et magni ea dolorum, ipsa nemo? Modi architecto doloremque velit facilis nemo, quidem sequi nihil eos similique ducimus magni sapiente odio maxime aut temporibus voluptate ipsam commodi quam! Nulla ea nemo consequuntur voluptates provident voluptatibus. Maiores quasi facere veritatis sequi, voluptate dolorum. Labore nulla corrupti qui soluta voluptas iste vero provident voluptates obcaecati, officiis mollitia, quam ducimus maxime. Enim inventore deserunt, minus ullam doloribus laboriosam odit?
        br
    