doctype html
html
    head
        meta( name='viewport', content='width=device-width, initial-scale=1' )
        title Knowledge Base
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
        link(rel="stylesheet", href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        style
            include style.css
    body
        nav.navbar.navbar-expand-lg.custom-navbar.d-flex
            navbar.row.px-5.w-100
                div.col-12.col-md-6.d-flex.justify-content-center.justify-content-lg-between 
                    a.navbar-brand(href='/').title.ml-5.text-center Bal Bilim
                div.col-12.col-md-6.d-flex.align-items-center.flex-wrap.p-0.text-center
                    div.col-md-4.col-12.p-0
                        a(href='/').btn.nav-p.my-0.my-md-4.w-100 Главная
                    div.col-md-4.col-12.p-0
                        a(href='/profile').btn.nav-p.my-0.my-md-4.w-100 Пройти олимпиаду       
                    div.col-md-4.col-12.p-0  
                        if (!loggedIn)
                            a(href='/login').signBtn.btn.nav-p.w-100.my-0.my-md-4
                                | Логин/Вход
                        else
                            a(href='/logout').signBtn.btn.nav-p.w-100.my-0.my-md-4
                                | Выход
                //- div.col-md-3.col-12
                //-     a(href='/profile').btn.mx-2.nav-p
                //-         if (!loggedIn)
                //-             i.fa.fa-sign-in.fa-2x
                //-         else 
                //-             i.fa.fa-home.fa-2x 
        block content
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
    script(src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js') 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    footer
        .col.d-flex.justify-content-center.align-items-center.p-4.bottom
            .col-4.text-center
                h1.title Bal Bilim
                p.heading-title Когда знание становится преимуществом 
            .col-4.d-flex.justify-content-center
                i.fab.fa-facebook.social-icon
                i.fab.fa-instagram.social-icon
                i.fa.fa-envelope.social-icon
            .col-4.text-right
                ul.list-group.list-group-flush.contacts
                    li.list-group-item.bg-footer 050016, г. Алматы. Бостандыкский район Индустриальная, 18а
                    li.list-group-item.bg-footer Тел: +7 (771) 517-01-22
                    li.list-group-item.bg-footer balbilim@mail.ru
        
    
    
