extends layout

block content
    .container.mt-4.shadow.my-5
        div.row.d-flex.justify-content-center.align-items-center.h-100
            div.top-stripe.main-color
            .col-12.mt-4
                h1.text-center.mt-4.font-weight-bold.text-primary Логин

            form(action='/login' method='POST').mt-4.mx-1.mx-md-4
                div.d-flex.flex-row.align-items-center.mb-4.text-primary
                    i.fa.fa-user.fa-lg.me-3.fa-fw.pr-2
                    .form-outline.flex-fill.mb-0
                        input.form-control(type='text', name='username' autofocus=true placeholder='Email')
                div.d-flex.flex-row.align-items-center.mb-4.text-primary 
                    i.fa.fa-lock.fa-lg.me-3.fa-fw.pr-2
                    .form-outline.flex-fill.mb-0
                        input.form-control(type='password', name='password' placeholder='Password')
                div.d-flex.justify-content-center
                    input(type='submit', value='Войти')#SignUp.btn.signBtn.m-4