extends layout

block content
    .container.sign-container.d-flex.justify-content-center.flex-column
        .col.d-flex.justify-content-center.align-items-center
            .col-12.mt-4.d-flex.flex-column.justify-content-center.bg-white.p-5.rounded.shadow
                p.h1.text-center.mt-4.font-weight-bold.text-primary Регистрация аккаунта
                .col-md-6.col-12.align-self-center 
                    form(method='POST' action='/signup').mt-4.mx-1.mx-md-4
                        div.d-flex.flex-row.align-items-center.mb-4 
                            i.fa.fa-user.fa-lg.me-3.fa-fw.pr-2.text-primary
                            .form-outline.flex-fill.mb-0
                                input.form-control(type='text', name='name' autofocus=true placeholder='Логин' required)
                        div.d-flex.flex-row.align-items-center.mb-4 
                            i.fa.fa-envelope.fa-lg.me-3.fa-fw.pr-2.text-primary
                            .form-outline.flex-fill.mb-0
                                input.form-control(type='email', name='email' placeholder='Почта' required)
                        div.d-flex.flex-row.align-items-center.mb-4 
                            i.fa.fa-lock.fa-lg.me-3.fa-fw.pr-2.text-primary
                            .form-outline.flex-fill.mb-0
                                input.form-control(type='password', name='password' placeholder='Пароль' required)
                        div.d-flex.justify-content-center.mb-1       
                            .form-check.text-primary.d-flex
                                input.form-check-input(id='terms', type='checkbox' checked=false)
                                label.form-check-label(for='terms').h6
                                    | Я согласен с  
                                    a(href='#!') условиями                         
                        div.d-flex.justify-content-center
                            input(type='submit' value="Создать аккаунт").signBtn.btn.m-4
                        