extends layout

block content
    .container-fluid.bg-custom1
        div.row.d-flex.justify-content-around.align-items-center.p-3
            .col-12.mt-4
                p.h2.text-center.mt-4.text-primary Ваши результаты теста:
            .col-md-6.col-12.row.d-flex.align-items-center.my-4
                p.text-center.mt-2.container-title.text-primary Основываясь на результатах, лучше всего у вас получается:
                hr.col-10.divider-primary
                .col-12.row.d-flex.justify-content-center
                    div.col-12.category
                        div
                            i.fas.fa-dot-circle
                        div
                            p Digital Marketing
                    div.col-12.category
                        div
                            i.fas.fa-dot-circle
                        div
                            p Графический дизайн
                    div.col-12.category
                        div
                            i.fas.fa-dot-circle
                        div
                            p ЧОП
                    div.col-12.category
                        div
                            i.fas.fa-dot-circle
                        div
                            p Физика и математика
                    div.col-12.category
                        div
                            i.fas.fa-dot-circle
                        div
                            p Графдизайн
            .col-md-4.col-12.bg-white.my-4.shadow.p-2.d-flex.justify-content-center
                canvas#myChart


        script.
            var xValues = ["Digital Marketing", "Графический дизайн", "Физика и математика", "ЧОП", "Графдизайн"];
            var yValues = [parseInt("0"), parseInt("60"), parseInt("0"), parseInt("0"), parseInt("0")];
            var barColors = ["red", "green","blue","orange","brown"];

            new Chart("myChart", {
            type: "radar",
            data: {
                labels: xValues,
                datasets: [{
                label: "You",
                borderColor: "#6200ee",
                data: yValues
                }]
            },
            options: {
                legend: {display: false},   
                title: {
                display: true,
                elements: {
                    line: {
                    borderWidth: 3
                }
                }
                }
            }
            });

    .container-fluid.bg-secondary
            div.row.d-flex.justify-content-center.align-items-center.p-2
                .col-12.mt-4
                    p.text-center.mt-2.container-title Что это означает?
                hr.col-10.divider-secondary
                .col-12.row.d-flex.justify-content-center.align-items-center.mb-5
                    .col-lg-4.col-12
                        p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
                    .col-lg-4.col-12
                        p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
                    .col-lg-4.col-12
                        p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
    .container-fluid.bg-white
            div.row.d-flex.justify-content-center.align-items-center.p-2
                .col-12.mt-4 
                    p.text-center.mt-2.text-primary.container-title Что нужно смотреть, чтобы развиваться в этой сфере дальше?
                hr.col-10.divider-primary
                .col-12.row.d-flex.justify-content-center.align-items-center.mb-5
                    div.col-12.category
                        div
                            i.fas.fa-dot-circle
                        div
                            p Канал А
                        div
                            a(href="#").btn#testBtn.p-3.rounded Перейти
                    div.col-12.category
                        div
                            i.fas.fa-dot-circle
                        div
                            p Канал B
                        div
                            a(href="#").btn#testBtn.p-3.rounded Перейти
                    div.col-12.category
                        div
                            i.fas.fa-dot-circle
                        div
                            p Канал C
                        div
                            a(href="#").btn#testBtn.p-3.rounded Перейти
                    div.col-12.category
                        div
                            i.fas.fa-dot-circle
                        div
                            p Канал D
                        div
                            a(href="#").btn#testBtn.p-3.rounded Перейти
    .container-fluid.bg-custom
            div.row.d-flex.justify-content-center.align-items-center.p-2
                .col-12.mt-4 
                    p.text-center.mt-2.container-title В какие университеты можно поступить?
                hr.col-10.divider-secondary
                .col-12.row.d-flex.justify-content-center.align-items-center.mb-5
                    div.col-12.category.category-secondary
                        div
                            i.fas.fa-dot-circle
                        div
                            p Университет A
                    div.col-12.category.category-secondary
                        div
                            i.fas.fa-dot-circle
                        div
                            p Университет B
                    div.col-12.category.category-secondary
                        div
                            i.fas.fa-dot-circle
                        div
                            p Университет C
                    div.col-12.category.category-secondary
                        div
                            i.fas.fa-dot-circle
                        div
                            p Университет D
                    div.col-12.category.category-secondary
                        div
                            i.fas.fa-dot-circle
                        div
                            p Университет E   