extends layout

block content
    .container.container.bg-white.mt-4.shadow
        div.row.d-flex.justify-content-center.align-items-center.h-100
            div.top-stripe.main-color
                p.h1.text-center.mt-4 You successfuly signed in
        div.row.d-flex.justify-content-center.align-items-center.my-4.mx-1.mx-md-4
            | 01000011 01001111 01000100 01000101 00100000 01010111 01000001 01010011 00100000 01010111 01010010 01001001 01010100 01010100 01000101 01001110 00100000 01000010 01011001 00100000 01010010 01000101 01010100 01000001 01010010 01000100 01010011
        br